.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: 'Inter', 'serif';
    color: #888888;
}

.category p {
    margin: 0;

}

.category-container {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
}

.category img {
    width: 20px;
    height: 20px;
    filter: grayscale(100%);

}

.category.active p {
    color: #00a6ff;
}

.category.active img {
    fill: #00a6ff;
    filter: brightness(0) saturate(100%) invert(36%) sepia(88%) saturate(5216%) hue-rotate(180deg) brightness(95%) contrast(103%);

}