nav div,
nav {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

nav {
  max-height: 40px;
  justify-content: space-between;
  font-family: "Inter", serif;
  font-weight: bold;
  color: #00a6ff;

}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}